@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.rainbow-text {
    font-size: 4em;
    font-family: 'Comic Sans MS', cursive;
    color: red;
    background-image: linear-gradient(to right, violet, indigo, blue, green, yellow, orange, red);
    -webkit-background-clip: text;
    background-clip: text;
    display: inline-block;
    animation: spin 10s linear infinite;
}

button {
    position: absolute;
    display: block;}